snippet license_block

	License
	-------

	The source code and the config files are released under "THE BEER-WARE" license.

	I would, however, consider it a great courtesy if you could email me and tell me about your project and how this code was used, just for my own continued personal gratification :)

	You can also find other ways to [make me happy](http://sudarmuthu.com/if-you-wanna-thank-me), if you liked this project ;)
